html {
    background-color: #091D3B;
    color: white;
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
    width: 100vw;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.full_row {
    width: 100%;
    justify-content: space-between;
}

.align_center {
    justify-content: center;
}

.separate {
    margin-left: 1.25vw;
    margin-right: 1.25vw;
    margin-bottom: 1.5vh;
    margin-top: 1.5vh;
}

.mid_width {
    min-width: 20%;
}

body {
    height: 100%;
    overflow: hidden;
}

.main_container {
    justify-content: space-between;
    align-items: center;
}

.no_margin {
    margin: 0;
}

.align_right {
    text-align: right;
}

h1 {
    font-size: 2vw;
}

h2 {
    font-size: 1.5vw;
}

h3, label {
    font-size: 1.15vw;
}

.positive {
    color: #318488;
}

.negative {
    color: #883131;
}

.icon {
    height: 6.5vw;
    width: 6.5vw;
}

.fill_height {
    flex: 1;
    align-items: stretch;
}

.glass_panel {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 0.5vw;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    padding-bottom: 2vh;
    padding-top: 2vh;
}

td, th {
    text-align: center;
    width: 5vw;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    font-size: 1.5vw;
    margin-right: 0.5vw;
    margin-left: 0.5vw;
}

.ticker {
    text-align: left;
}

#ticker {
    border: none;
    background: none;
    text-transform: uppercase;
}

.gain {
    text-align: right;
    font-size: 1.5vw;
}

tbody .gain {
    font-size: 1.25vw;
}

tr {
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.2vh solid rgba(255, 255, 255, 0.05);
}

tbody tr:hover {
    background: rgba(255, 255, 255, 0.025);
}

tbody {
    max-height: 47.5vh;
    overflow-y: scroll;
}

tbody::-webkit-scrollbar {
    display: none;
}

input {
    background: rgba(255, 255, 255, 0.05);
    border: 0.2vh solid rgba(255, 255, 255, 0.15);
    border-radius: 0.5vw;
    height: 4vh;
    width: 5vw;
    text-align: center;
    color: white;
    font-size: 1.25vw;
}

::placeholder {
    color: rgba(255, 255, 255, 0.25);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input:focus {
    outline: none;
}

input:hover {
    border: 0.2vh solid rgba(255, 255, 255, 0.25);
}

button {
    color: white;
    border: none;
    max-width: fit-content;
    align-self: flex-end;
    border-radius: 0.5vw;
}

button:hover {
    cursor: pointer;
}

button img {
    width: 2.5vw;
    height: 2.5vw;
    opacity: 25%;
}

button img:hover {
    opacity: 50%;
}

button.delete {
    background: rgba(255, 255, 255, 0);
}

button.save {
    background: rgba(71, 152, 244, 0.85);
    font-size: 1.25vw;
    margin-bottom: 0.75vh;
    padding-left: 0.75vw;
    padding-right: 0.75vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

button.save:hover {
    background: rgb(71, 152, 244);
}

rect {
    fill: transparent;
}

line {
    stroke: rgba(255, 255, 255, 0.05);
}

text {
    fill: white !important;
    font-family: 'Open Sans', sans-serif !important;
    font-size: 1vw !important;
    text-transform: uppercase !important;
}

#signature {
    align-self: flex-end;
    font-size: 1vw;
}

label {
    align-self: center;
}

#newForm {
    max-width: 40%;
    justify-content: space-between;
}

a {
    color: white;
    text-decoration: none;
    border-bottom: 0.2vh solid rgba(255, 255, 255, 0.3);
    width: max-content;
    font-size: 1.25vw;
}

a:hover {
    border-bottom: 0.2vh solid rgba(255, 255, 255, 0.5);
}

.delete_container {
    justify-content: end;
}